html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";
  src: url("$assets-roboto-regular-ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("$assets-roboto-medium-ttf");
}

@font-face {
  font-family: "Open-Sans";
  src: url("$assets-opensans-regular-ttf");
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("$assets-opensans-light-ttf");
}

html {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  font-family: "Roboto";
}

.nav {
  width: 100%;
  margin-left: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text--bold {
  font-weight: 700;
}

.text--info {
  color: #3d94f5 !important;
}

.text--faded {
  color: #7f8184 !important;
}

.text--alert {
  color: #f68d11 !important;
}

.text--note {
  color: #696969 !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  font-family: "Open-Sans-Light";
}

.button {
  font-family: "Open-Sans";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  border-radius: 4.4rem;
  color: #3c3c3c;
  color: inherit;
  border: 2px solid #3c3c3c;
  min-width: 19.6rem;
  padding: 0.4rem 1rem 0.4rem 1.7rem;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1.6rem;
  }
}

.button::after {
  display: none;
}

@media screen and (min-width: 400px) {
  .button::after {
    content: "";
    background: url("$assets-arrow-right-png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 1rem;
  }
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
li:empty,
p:empty,
a:empty {
  display: none;
}

.post-avatar img,
.avatar,
.user-avatar {
  max-width: 3rem;
  vertical-align: middle;
}

.hero input[type="search"] {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.dropdown-toggle {
  font-size: 1.4rem;
  border-radius: 0.4rem;
  border: 1px solid #000000;
  color: $link_color;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown + .dropdown {
  margin-left: 1rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

@media screen and (min-width: 576px) {
  .header__top {
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__top .nav__menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.6rem;
  line-height: 2;
  color: #696969;
  font-weight: 500;
  margin-top: 1.6rem;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}

.header__top .nav__menu li {
  margin-left: 1rem;
  position: relative;
}

.header__top .nav__menu li:last-child {
  width: 100%;
  max-width: 20.5rem;
}

@media screen and (min-width: 768px) {
  .header__top .nav__menu li:last-child {
    max-width: 25.5rem;
  }
}

@media screen and (min-width: 768px) {
  .header__top .nav__menu li {
    margin-left: 3rem;
  }
}

.header__top .nav__menu li .login::before {
  content: "";
  background: url("$assets-sign-in-icon-png") no-repeat;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.header__top .nav__menu a {
  color: inherit;
  padding-left: 3rem;
}

.header__top .nav__menu .nav__menu__submit {
  color: #3c3c3c;
  font-family: "Open-Sans";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 4.4rem;
  border: 2px solid #000000;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__top .nav__menu .nav__menu__submit {
    font-size: 1.6rem;
  }
}

.header__top .nav__menu .nav__menu__submit::after {
  display: none;
}

@media screen and (min-width: 400px) {
  .header__top .nav__menu .nav__menu__submit::after {
    content: "";
    background: url("$assets-arrow-right-png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.6rem;
  }
}

.header__top .nav__menu .nav__menu__language {
  position: relative;
}

.header__top .nav__menu .nav__menu__language a::before {
  content: "";
  background: url("$assets-globe-icon-png") no-repeat;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

@media screen and (max-width: 767px) {
  .header__top .nav__menu span {
    display: none;
  }
}

input[type="search"] {
  width: 100%;
  outline: none;
  border: 1px solid #cbcccf;
  color: #696969;
  background-color: #ffffff;
  font-size: 1.6rem;
  padding-left: 4rem;
  border-radius: 5.8rem;
  background-image: url("$assets-search-icon-png");
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 2rem 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.search input[type="search"] {
  border: none;
}

.search input[type="submit"] {
  display: none;
}

.search-full {
  max-width: 49.2rem;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.search-full input[type="search"] {
  font-size: 1.6rem;
  line-height: 2.8;
  padding-left: 5rem;
  background-position: 1.8rem 50%;
}

@media screen and (min-width: 768px) {
  .search-full input[type="search"] {
    font-size: 2rem;
    padding-left: 7rem;
    background-size: auto auto;
  }
}

.search-full input[type="search"]:focus {
  -webkit-box-shadow: 0 0 8rem #ffc400;
          box-shadow: 0 0 8rem #ffc400;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30rem;
  background-color: $brand_color;
}

.hero h1 {
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.3;
  margin: 0;
  padding-bottom: 0.6rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}

.hero h3 {
  color: #ffffff;
  font-size: 2.0rem;
  line-height: 2.16;
  margin: 0;
  padding-bottom: 2.3rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .hero h3 {
    font-size: 2.4rem;
  }
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li + li::before {
  content: ' > ';
}

.hero_breadcrumb {
  background-color: $brand_color;
  font-size: 2.4rem;
  font-family: "Roboto";
  color: #ffffff;
  line-height: 2.167;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

@media screen and (max-width: 767px) {
  .hero_breadcrumb {
    display: none;
  }
}

.hero_breadcrumb a {
  color: inherit;
}

.hero_breadcrumb .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_breadcrumb .search input[type="search"] {
  background-size: 2rem 2rem;
  line-height: 1.5;
}

.header__body__h3 {
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__body__h3 {
    font-size: 1.6rem;
    padding-top: 0.7rem;
  }
}

.footer__h4 {
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 6.5rem;
  padding-bottom: 1.6rem;
  line-height: 1.33;
  color: $brand_color;
  margin: 0;
}

.footer__top {
  width: 100%;
  min-height: 16.5rem;
  background-color: #f4f4f4;
  padding-bottom: 6rem;
}

.footer__bottom {
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
}

.footer__menu {
  max-width: 79.5rem;
  width: 100%;
  margin: 0;
}

.footer__menu a {
  color: #575959;
  font-size: 1.6rem;
  line-height: 2;
}

.footer__menu li {
  float: left;
  width: 50%;
}

@media screen and (min-width: 576px) {
  .footer__menu li {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu li {
    width: 20%;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 21.5rem;
  width: 100%;
  max-height: 1.5rem;
  margin-top: 13px;
}

.footer__links a {
  color: #6c6c6c;
  font-size: 1.6rem;
}

.footer__links li {
  line-height: 1.6rem;
}

.footer__links li:nth-child(2) {
  border-left: 2px solid #6c6c6c;
  border-right: 2px solid #6c6c6c;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.footer__social {
  max-width: 15.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.container--footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container--footer-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__article__menu {
  max-width: 114.8rem;
  width: 100%;
  margin: 0;
}

.footer__article__menu a {
  color: #575959;
  font-size: 1.6rem;
  line-height: 2;
}

.footer__article__menu li {
  float: left;
  width: 100%;
  margin-right: 1rem;
}

@media screen and (min-width: 372px) {
  .footer__article__menu li {
    width: 45%;
  }
}

@media screen and (min-width: 576px) {
  .footer__article__menu li {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .footer__article__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__article__menu li {
    max-width: 18rem;
  }
}

.content {
  padding-top: 4.7rem;
  padding-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .content__main {
    width: 66.666%;
  }
}

.content__main h2 {
  color: #464646;
  font-family: Roboto;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.428;
  margin: 0;
}

.content__main h2 a {
  color: inherit;
}

.main-name {
  padding-left: 1.25rem;
  padding-bottom: 0.7rem;
  margin-right: 1.75rem;
  margin-bottom: 3.4rem;
  border-bottom: 1px solid #cbcccf;
}

.main-name p {
  font-size: 1.4rem;
}

.main-name > .main-title {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.main-name > span {
  display: table-cell;
  vertical-align: middle;
}

.content--wrapper {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .content--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.content__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-bottom: 4.2rem;
}

@media screen and (min-width: 1024px) {
  .content__list {
    width: 50%;
  }
  .content__list.content__list--full {
    width: 100%;
  }
  .content__list.content__list--separate_inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__list.content__list--separate_inside li {
    width: 50%;
    padding-right: 2.4rem;
  }
}

.content__list.content__list--separate_inside {
  padding-left: 0;
  padding-right: 0;
}

.content__list li {
  padding-bottom: 2.4rem;
  font-weight: 400;
  color: #3d94f5;
}

.content__list li.section-name {
  font-weight: 700;
  color: #464646;
  text-transform: uppercase;
}

.content__list a {
  color: inherit;
}

.content__list .see-all-articles {
  text-transform: uppercase;
  font-weight: 700;
}

.content__list .meta-group li {
  color: #464646;
}

.content__aside {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .content__aside {
    width: 33.333%;
    padding-left: 1.5rem;
  }
}

.content__aside .recent-activity-title {
  color: #464646;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.66;
  padding-left: 1.25rem;
  padding-bottom: 0.7rem;
  margin-top: 0;
  margin-bottom: 3.4rem;
  border-bottom: 1px solid #cbcccf;
}

.content__aside .recent-activity-title a {
  color: inherit;
}

.content__aside p {
  color: #575050;
  margin-top: 0;
}

.content__aside p a {
  color: #3d94f5;
}

.content__aside [data-app="recent-activity"] {
  margin-bottom: 3.6rem;
}

.recent-articles h3,
.related-articles h3 {
  color: #464646;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.67;
  margin: 0;
  padding-bottom: 0.8rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #cbcccf;
}

.recent-articles ul,
.related-articles ul {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.recent-articles ul li,
.related-articles ul li {
  padding-bottom: 2.4rem;
}

.recent-articles a,
.related-articles a {
  color: $link_color;
}

.recent-articles > *,
.related-articles > * {
  padding-left: 1.2rem;
}

.get-updates {
  padding-top: 2rem;
  padding-bottom: 4.8rem;
}

.get-updates > * {
  padding-left: 1.2rem;
}

.get-updates h2 {
  color: #464646;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.67;
  margin: 0;
  padding-bottom: .8rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #cbcccf;
}

.get-updates h2 ~ h2 {
  margin-top: 7rem;
}

.get-updates .button {
  color: inherit;
}

.recent-activity {
  padding-left: 1.25rem;
}

.recent-activity-header {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.recent-activity-list .recent-activity-item {
  margin-bottom: 2.6rem;
}

.recent-activity-list .recent-activity-item-parent {
  display: block;
  color: #575050;
  font-weight: 700;
  margin-bottom: 0;
}

.recent-activity-list .recent-activity-item-link {
  display: block;
  color: $link_color;
}

.recent-activity-list .recent-activity-item-meta {
  color: #989898;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.recent-activity-list .recent-activity-item-comment {
  display: none;
}

.recent-activity-controls {
  text-transform: uppercase;
}

.recent-activity-controls a {
  color: $link_color;
}

.article {
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .article:not(.container) {
    width: 66.666%;
    padding: 2.2rem 8rem 5rem 1.5rem;
  }
}

.article.container {
  width: 100%;
}

.article a {
  color: $link_color;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-family: "Roboto";
  margin-top: 0;
}

.article h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.429;
  color: #464646;
  margin-bottom: 3.75rem;
}

.article h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.article p {
  margin-top: 0;
  margin-bottom: 2.3rem;
}

.article p img {
  margin-top: 0.8rem;
  max-width: 100%;
}

.article p.article__rating__comments {
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.article ol,
.article ul {
  margin-top: 0;
}

.article .pagetitle + .table-responsive {
  margin-top: 5.3rem;
}

.article table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 3.1rem;
}

.article table p {
  margin-bottom: 0;
}

.article td {
  border-width: 1px;
}

.article td,
.article th {
  border-color: #e5e5e5;
  border-style: solid;
  padding: 1.2rem;
  height: 7.5rem;
}

.article .table-responsive {
  margin-bottom: 3.6rem;
}

@media screen and (max-width: 767px) {
  .article .table-responsive {
    width: 100%;
    margin-bottom: 1.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .article .table-responsive table {
    min-width: 50rem;
  }
}

.article .post-vote .upvote,
.article .post-vote .downvote {
  display: none;
}

.article .vote-up,
.article .article-vote-up {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-image: url("$assets-thumb-png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.article .vote-down,
.article .article-vote-down {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-image: url("$assets-thumb-png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.article .article__votes_question {
  margin-right: 1rem;
}

.article .search-results-list .search-result {
  padding-bottom: 2.4rem;
}

.article .profile-nav ul,
.article .my-activities-nav ul,
.article .my-activities-sub-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.article .profile-nav li,
.article .my-activities-nav li,
.article .my-activities-sub-nav li {
  padding-right: 2rem;
}

.article .community-list-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.article .community-list-views li {
  padding-right: 2rem;
}

.article .topic-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.article .topic-filters li {
  padding-right: 2rem;
}

.article .comm-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.article .comm-actions li {
  padding-right: 2rem;
}

.article .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.article .pagination li {
  padding-right: 2rem;
}

.article .profile-header .stat-label {
  font-weight: 700;
}

.article__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7.2rem;
}

@media screen and (min-width: 768px) {
  .article__rating {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.article__rating__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3.5rem;
  min-width: 24.4rem;
  margin-bottom: 2.2rem;
}

@media screen and (max-width: 767px) {
  .article--wrapper {
    margin-right: 0;
  }
}

.article__rating__summary {
  min-width: 19.6rem;
}

.my-activities-following-header {
  margin-bottom: 3.6rem;
}

.comment-form-controls {
  padding-top: 2rem;
}

.request-table-toolbar {
  margin-bottom: 3.6rem;
}

.request-table-filters {
  margin-bottom: 3.6rem;
}

#request_comment_body {
  margin-bottom: 3.6rem;
}

.comment-mark-as-solved {
  margin-bottom: 3.6rem;
}

.article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.article form .form-field {
  margin-bottom: 4rem;
}

.article form .form-field.required label::after {
  content: " *";
  color: #f68d11;
}

.article form .form-field label {
  margin-bottom: 0.4rem;
  font-family: "Open-Sans-Light";
  font-weight: 500;
}

.article form .form-field p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.9rem;
  padding-bottom: 0;
}

.article input[type=text],
.article textarea,
.article .nesty-input {
  width: 100%;
  display: block;
  border: 1px solid #cbcccf;
  line-height: 1.5;
  padding: 9px;
}

.article .nesty-input {
  height: auto;
}

.article .nesty-input::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.article textarea {
  min-height: 17.2rem;
}

.article input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  font-family: "Open-Sans";
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  color: #3c3c3c;
  border: 2px solid #3c3c3c;
  border-radius: 4.4rem;
  background: transparent;
  padding: 0.8rem 6rem;
}

.article .upload-dropzone {
  font-size: 1.6rem;
}

.article .upload-dropzone span {
  color: #696969;
  padding: 0.9rem;
}

.article .upload-dropzone span::before {
  font-size: 2.5rem;
  color: #cbcccf;
  pointer-events: none;
}

.article .upload-dropzone a {
  color: $link_color;
  font-size: inherit;
}

.u-bg-transparent {
  background: rgba(0, 0, 0, 0.25);
}

.modal {
  z-index: 10;
  position: relative;
  top: 395px;
  background: #fff;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 31px 32px 18px 32px;
  color: #464646;
  font-size: 1.6rem;
}

.modal.signin form {
  padding-top: 9px;
  max-width: 370px;
}

.modal.signin input[type="text"],
.modal.signin input[type="email"],
.modal.signin input[type="password"] {
  margin-bottom: 16px;
}

.modal .flash {
  display: none;
}

.modal .title {
  font-size: 3.2rem;
  line-height: 1.125;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 550px) {
  .modal .title {
    font-size: 5vw;
  }
}

.modal form {
  padding-top: 3px;
  max-width: 318px;
  margin: 0 auto;
}

.modal form p {
  line-height: 1.4;
}

.modal form p:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .modal form p {
    text-align: center;
  }
}

.modal form .g-recaptcha {
  margin-bottom: 24px;
}

.modal form .g-recaptcha > div {
  margin: 0 auto;
}

.modal fieldset {
  border: 0;
  margin: 0 -38px;
  padding: 2px 12px;
}

.modal fieldset label {
  font-size: 12px;
  font-family: "Roboto";
  color: #696969;
  line-height: 1.5;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
  border: 1px solid transparent;
  display: block;
  width: 100%;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
  border-color: #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  margin-bottom: 13px;
  padding: 12px 18px;
}

.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal input[type="password"]:focus {
  outline: none;
  border-color: #999;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.modal input[type="submit"] {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 44px;
  border-color: #000000;
  color: #3c3c3c;
  font-family: "Open-Sans";
  font-weight: 700;
  line-height: 32px;
  padding: 5px;
  margin-bottom: 16px;
}

.modal .credentials label {
  display: none;
}

.modal .credentials input:last-of-type {
  margin-bottom: 12px;
}

.modal .remember {
  margin-bottom: 25px;
}

.modal .remember [type="checkbox"] {
  display: none;
}

.modal .remember [type="checkbox"] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.modal .remember [type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  border: 1px solid #cbcccf;
  background-color: transparent;
  margin-right: 7px;
}

.modal .secure-disclaimer {
  display: none;
}

.modal .cancel {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.modal .cancel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: blue;
  visibility: visible;
}

.modal .controls [type="submit"] + a {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.modal .controls [type="submit"] + a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: blue;
  visibility: visible;
}

.modal .assistance {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto";
  color: #3d94f5;
  margin-bottom: 36px;
}

.modal .footnotes {
  text-align: center;
}

.modal .footnotes .question {
  margin-top: 10px;
  white-space: nowrap;
}

.modal .footnotes .get_password + p {
  display: none;
}

.modal a {
  color: #3d94f5;
}

@media screen and (max-width: 322px) {
  .g-recaptcha {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}
