<div class="hero">
	<h1>Support Center</h1>
	<h3>Resources for users and administrators</h3>
	{{search submit=false instant=true class='search search-full'}}
</div>
<div class="container">
	<section class="content">
		<div class="content__main">
			{{#if categories}}
				{{#each categories}}
					<div class="main-name">
						<h2 class="main-title"><a href="{{url}}">{{name}}</a></h2>
						{{#if description}}
							<p>{{description}}</p>
						{{/if}}
					</div>
					<div class="content--wrapper">
						{{#each sections}}
							<ul class="content__list">
								<li class="section-name">
									{{#if internal}}
										<span class="visibility-internal" data-title="{{t 'internal'}}">
											<span class="visibility-internal-icon"></span>
										</span>
									{{/if}}
									<a href="{{url}}">{{name}}</a>
								</li>
								{{#if articles}}
									{{#each articles}}
										<li {{#if promoted}} class="article-promoted" {{/if}}>
											{{#if promoted}}
												<span data-title="{{t 'promoted'}}">#</span>
											{{/if}}
											<a href="{{url}}">{{title}}</a>
										</li>
									{{/each}}
							
									{{#if more_articles}}
										<li>
											<a href="{{url}}" class="see-all-articles">
												{{t 'show_all_articles' count=article_count}}
											</a>
										</li>
									{{/if}}
								{{else}}
									<i class="section-empty">
										<a href="{{url}}">{{t 'empty'}}</a>
									</i>
								{{/if}}
							</ul>
						{{else}}
							<ul class="content__list">
								<li>
									<i class="category-empty">
										<a href="{{url}}">{{t 'empty'}}</a>
									</i>
								</li>
							</ul>
						{{/each}}

						{{#if more_sections}}
							<a href="{{url}}">{{t 'see_all_sections'}}</a>
						{{/if}}
					</div>
				{{/each}}
				{{pagination}}
			{{/if}}
		</div>
		<aside class="content__aside">
			{{#if help_center.community_enabled}}
				<h2 class="recent-activity-title"><a href="/hc/communities/public/topics">Forums</a></h2>
				{{recent_activity scope='community'}}
			{{/if}}
			<section class="get-updates">
				<h2>Questions?</h2>
				<p><span class="text--bold">To learn more about ZelloWork, or if you need any help</span> <a href="https://zello.com/work/contact/">Contact us</a>
				</p>
			</section>
		</aside>
	</section>
</div>
